.calculatorFrame {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.ageResult {
	width: auto 130px;
	height: auto 114px;
	color: #854dff;
	font-family: 'Poppins', sans-serif;
	font-size: 104px;
	font-style: italic;
	font-weight: 800;
	line-height: 110%;
	letter-spacing: -2.08px;
}

.dateResult {
	/* Heading L */
	color: #151515;
	font-size: 104px;
	font-style: italic;
	font-weight: 800;
	line-height: 110%;
	letter-spacing: -2.08px;
}
