.form {
	display: flex;
	width: 100% 728px;
	height: auto 101px;
	align-items: flex-start;
	flex-direction: column;
	align-self: stretch;
	gap: 32px;
}

.contentForm {
	display: flex;
}

.dateText {
	/* Heading S */
	display: inline-block;
	width: auto 67px;
	height: auto 21px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	color: #151515;
}

.dateTextInput {
	/* Heading M */
	width: 160px;
	height: auto 72px;
	font-family: 'Poppins', sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #151515;
}

.today {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 90%;
	background-color: #854dff;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 25px;
	border-end-end-radius: 20%;
	border-start-start-radius: 20%;
}

.todayDate{
	color: #151515;
}

.todayBtn{
	padding: 20px;
	margin-left: 20px;
	background-color: #965dff;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
}